{% extends 'pages/base.html' %}

{% block title %} Blog {% endblock %}
{% block content %}
{% for post in Post %}
<div class='post_item'>
    <p><a class='link' href="{% url 'post' post.id %}">{{post.title}} &nbsp; </a><span style="font-size: 10px">Ngày
            đăng:
            {{post.date|date:'d-m-Y'}} </span></p>
    <img src="{{post.image.url}}" width='50px' height='50px' />
</div>
{% endfor %}
<br /><br />
{% if page_obj.has_next %}
<a href="{{request.path}}?page={{page_obj.next_page_number}}" class='link next_page'>Next
    Page >></a>
{% endif %}


{% endblock %}