{% extends 'pages/base.html' %}



{% block title %} Home {% endblock %}
{% block content %}
<h2>Đăng nhập</h2>
<form method="post">
    {% csrf_token %}
    {% for key, value in form.errors.items %}
    {{value}}
    {% endfor %}
    <p><label>Tài khoản: </label>{{form.username}}</p>
    <p><label>Mật khẩu: </label>{{form.password}}</p>
    {% comment %} Cài này ẩn đi để khi đăng nhập thành công sẽ chuyển tới 1 trang nào đó {% endcomment %}
    <input type='hidden' name='next' value="{% url 'home' %}" />
    <input type='submit' value='Đăng nhập' />
</form>
{% endblock %}