html,
body {
  height: 100%;
  background-color: #f6f6f6;
}

/* Tùy chỉnh màu nền của form */
form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Tùy chỉnh màu nền của nút Đăng ký */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Tùy chỉnh các trường input và label */
input,
label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 4px;
}

.link {
  text-decoration: none;
}

.nav_item {
  color: #333;
}

.nav_item:hover {
  color: #333;
  border-bottom: 1px solid #bbb9b9;
}

.next_page {
  color: gray;
  font-size: 12px;
}

.next_page:hover {
  border-bottom: 1px solid #bbb9b9;
}

.box_user {
  width: 100%;
  height: 60px;
  text-align: center;
}

.box_user_2 {
  display: none;
}

.box_user:hover .box_user_2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 0.08px solid rgb(239, 237, 237);
  background-color: #fff;
  margin-top: 2px;
  font-size: 13px;
}

.box_user_2 a:hover {
  border-bottom: 2px solid rgb(239, 237, 237);
}

#id_body {
  /* CSS tùy chỉnh cho trường input file */
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  height: 120px;
  /* Thêm các thuộc tính CSS khác theo nhu cầu của bạn */
}

.post_item {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 20px;
  margin-bottom: 20px;
}

.comment_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.6px solid rgb(193, 198, 193);
}

.comment_item_i p {
  line-height: normal;
  margin-top: 13px;
}
/* .hr_comment {
  border: 0.6px solid rgb(193, 198, 193);
} */
